img{
    width: 100%;
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
}
.container{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10vh;
    
}
.card{
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;

}
.tag{
    border: 1px solid #e5eaed;
    padding: 4px 8px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;

}
.name{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}
.p{
    font-size: 14px;
    color: #7f8c96;
    
}
button{
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 50px;
    background-color: #e0efff;
    display: block;
    margin: 0 auto;
}
.card-details{
    padding: 16px 8px 8px 8px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}